# _ t r a n s i e n t l a b
# Author: Paweł Kreis
# pawel@transientlab.net
#
# THIS CODE IS COPYRIGHTED 
# YOU ARE NOT ALLOWED TO COPY OR USE THE CODE WITHOUT DISCUSSING IT WITH THE AUTHOR
# 
# Show controller system
# : sc.service : service configuration for Linux server

[Unit]
Description=webserver_control
After=network.target
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=1
User=kr315
Group=root
WorkingDirectory=/home/kr315/transientlab_controller/local_server
ExecReload=/bin/kill -s HUP $MAINPID
ExecStart=/bin/bash -c 'sudo node server.js'

[Install]
WantedBy=multi-user.target
